This file is for discussions of product requirements and design decisions.  There are a number of different ways we could go with
this design depending on the use cases and requirements for both the stethoscope and pulse oximetry devices.  I would ask the
medical professionals to review assumptions and clarify.

From the original project description we have:
  -Inexpensive
  -Patient-contacting portions either need one device per patient, *or* need to be easily sterilized between patients, or both.
  -Avoid having to get/stay close to the patient if possible. (Bluetooth specified, but guessing any short-range wireless solution would do)
  -If possible, combine stethoscope and pulse oximetry.

Verbal conversation with Dr. Brian indicated that listening to a patients lungs while inserting a breathing tube is difficult with protective gear and a normal hose type stethoscope.  The doctor needs to be relatively close to the patient.

General usage questions:
  Is it important that the device conform to a traditional stethoscope format?  For instance, is it important that there be
  earpieces?  Would it work to create a battery-powered cup with a speaker on the back?  (A microphone, small amplifier and a
  speaker would be about the simplest design possible).  Do we need in-ear earphones, or would big over-the-ear-and-hood headphones
  be acceptable?  How noisy is the environment when this device will be in use?

  Will either a speaker or over the ears studio style headphones work with full protective gear, including hood without PPE removal?

  Can a standard off-the-shelf Ziploc sandwich bag be used as a disposable sterilizeable protective shield between patients?
  Can a surgical rubber glove (tied in a knot) be used as a disposable protective shield on the device between patients?

  I assume that *someone* will need to get close enough to the patient to hold the device to different areas of the patient's chest/back.
  Is that correct?  Does that person need to be the doctor? How important is it really to have a wireless connection vs. an
  arms-length cable?

  How would the pulse oximeter be used if it was built into the stethoscope cup?  Can readings be taken at the same locations on the patient while you're listening to the heart/lungs, or does it need to be attached to a finger/extremity?  Apparently fingertip/earlobe oximetry is "transmissive mode" oximetry.  "Reflective mode" oximetry is possible at the wrists or other sites, so this could theoretically be integrated into a stethoscope puck. The hardware is likely different than current market solutions, more research is necessary.

  How is a $20 oximeter sterilized between patients now?
  How important is it that the oximeter and the stethoscope be one and the same device?
  Is there any advantage to Bluetooth oximeter that broadcasts an a generated voice to the headset (oxygen = 92%, oxygen = 92%, etc...)  Does the doctor need that info immediately while placing a breathing tube into a patient?  (if so, mixing of the stethoscope audio pickup, and the generated voice should be possible.  We geeks love those kinds of challenges, but is that necessary?)

  Would it work to have a device you could hold in your hand and put a rubber glove over both the device and the hand at the same time?

  How inexpensive is inexpensive?  There are finger-attached pulse oximeter devices on Amazon for $25 each.  Is that too expensive
  on a per-patient basis?  What would be target and maximum costs for the "stethoscope" if we had to have one per patient?
